html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    line-height: 1;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

header {
    background-color:  #fff5bd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div {
    display: block;
}

#logo {
    margin-left: 20px;
}

#content {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    background: linear-gradient(goldenrod, rgb(0, 0, 0));
}

.box {
    display: block;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border: 2px solid black;
    background-color: ivory;
    text-align: center;
}

.input label {
    text-align: left;
}

#content form .input label  {
    width: 120px;
    font-size: 14pt;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 20px;
}

#pwdconstraints {
    padding-top: 20px;
}

div ol li {
    text-align: left;
}

#submit_button {
    text-align: center;
    margin-top: 15px;
}

.button {
    font-size: 12pt;
    height: 30px;
    
    border-radius: 5px;
    border: 2px solid black;
}

.bold {
    font-weight: bold;
}

footer {
    background-color: #fff5bd;
}

.validated {
    display: flex;
    align-items: center;
    float: left;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    justify-content: space-evenly;
    background-color: rgb(109, 109, 109);
}

nav p {
    width: 200px;
    height: 40px;
    border: solid black 1px;
    color: black;
    background-color: goldenrod;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}

.selected {
    background-color: rgb(109, 109, 109);
}

.review_question {
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid black;
}

#correctanswer {
    text-align: center;
}

#question {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

#answers {
    text-align: center;
}